{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="{% static 'todo_list/style.css' %}">

<div id="container">
    <h1>
        To-Do List
        <i class="fa fa-plus-square" aria-hidden="true"></i>
    </h1>

    <form id="taskForm" action="{% url 'todo_list:add_task' %}" method="post">
        {% csrf_token %}
        <input type="text" name="task_text" placeholder="Add New Todo">
    </form>

    <ul id="taskList">
        {% for task in tasks_list %}
        <li data-id="{{ task.id }}">
            <i class='fa fa-trash fa-fw' aria-hidden='true'></i>
            <span {% if task.done %}class="done"{% endif %}>{{ task.task_text }}</span>
        </li>
        {% endfor %}
    </ul>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'todo_list/script.js' %}"></script>